[lib]
path = "src/_lib.rs"

[package]
name = "safer-ffi"
# Keep in sync with `[dependencies.proc_macro]` and `src/proc_macro/Cargo.toml`
version = "0.0.5"
authors = ["Daniel Henry-Mantilla <daniel.henry.mantilla@gmail.com>"]
edition = "2018"

description = "Write safer FFI code in Rust without polluting it with unsafe code"
keywords = ["ffi", "no_std", "framework", "safety", "bindings"]
license = "MIT"
repository = "https://github.com/getditto/safer_ffi"

readme = "README.md"

[features]
default = [
    "std",
]

nightly = []

alloc = []
std = [ "alloc" ]

derives = ["proc_macros"] # alias
proc_macros = [
    "proc_macro/proc_macros",
    "require_unsafe_in_body",
    "proc-macro-hack",
]
debug_proc_macros = [
    "proc_macros",
    "proc_macro/verbose-expansions",
]

out-refs = ["uninit"]

headers = [
    "inventory",
    "proc_macro/headers",
    "std",
]
csharp-headers = ["headers"]

node-js = [
    "inventory",
    "napi",
    "napi-derive",
    "proc_macro/node-js",
    # For convenience
    "proc_macros", "std",
]

[dev-dependencies]
macro_rules_attribute = "0.0.1"

[target.'cfg(not(target = "wasm32-unknown-unknown"))'.dependencies]
libc = { version = "0.2.66", default-features = false }

[dependencies]
paste = { package = "mini_paste", version = "0.1.*" }
log = { version = "0.4.8", optional = true }
require_unsafe_in_body = { version = "0.2.1", optional = true }
inventory = { version = "0.1.6", optional = true }
proc-macro-hack = { version = "0.5.15", optional = true }
unwind_safe = "0.0.1"
scopeguard = "1.1.0"

[dependencies.napi]
version = "1.1.3"
optional = true
features = ["napi5"]
# We need some napi enhancements featured in our fork, while waiting for those
# to be merged upstream (we did get the `Result`-less `ThreadsafeFunction`
# (c.f. 7108cc0f762d8cea3b2923b3bc529e4361557b30) to be merged but not released,
# but now we are waiting for 4aba1599585eb763cb64a38ed6ccf61f2336e205).
git = "https://github.com/getditto/napi-rs"
branch = "ditto/closure-into-jsfunction"

[dependencies.napi-derive]
version = "1.0.0"
optional = true
git = "https://github.com/getditto/napi-rs"
branch = "ditto/closure-into-jsfunction"

[dependencies.proc_macro]
package = "safer_ffi-proc_macro"
path = "src/proc_macro"
version = "0.0.5"

[dependencies.uninit]
optional = true
# Since we are relying on internals of their `Out` reference,
# we pin the version.
version = "=0.3.0"
default-features = false

[workspace]
members = [
    "src/proc_macro",
    "safer-ffi-build",
]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docs"]
